[submodule "src/realsense_ros"]
	path = src/realsense_ros
	url = https://github.com/IntelRealSense/realsense-ros.git
	branch = ros2-master
[submodule "src/yolo_ros"]
	path = src/yolo_ros
	url = https://github.com/mgonzs13/yolo_ros.git
